nav{
    display: flex;
    gap: 40px;
    background-color: rgb(7, 124, 42);
}
*{
   padding: 0px;
   margin:0px;
}
li{
    list-style: none;
    padding: 25px;
}
a li{
    color:white
}
.Red{
    background-color: rgb(240, 21, 21);
    color:white
}